
<div class="content">
<h2>
<%= link_to 'Alerts', alertshall_path %>
<br> 
<br> 
<%= link_to 'Representatives', representatives_path %>
<br>  
<br> 
<%= link_to 'Statistics', statistics_path %>
</h2>
</div> 